#content {
  /* background-color: aqua; */
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#portofolio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-navbar a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

.top-navbar a:hover {
  color: aliceblue;
}

.main {
  padding: 16px;
}

/* #overflow-content {
  overflow: scroll;
} */